<div class="ja-topic">
  <h2>Dynamic Components</h2>

  <ja-question>
    <div class="question">
      What is a dynamic component?
    </div>
    <div class="answer">
      Dynamic Components are new components loaded at runtime.
      <p>There are basically 3 steps to create a dynamic component:</p>
      <ul>
        <li>Set an anchor in a element (via ViewContainerRef)</li>
        <li>Load dynamic components (ng-template)</li>
        <li>Resolve components (ComponentFactoryResolver)</li>
      </ul>
      <strong> Missing DEMO </strong>
    </div>
  </ja-question>
</div>
