.ja {
  
  &-question-container {
    padding: 16px 8px;
    border: 1px solid #EEE;
    margin: 8px 0;
  }

  &-question {
    color: rgb(82, 137, 219);
    margin: 8px 0;
  }

  &-answer {
    margin: 8px 0;
  }
}