<section class="anguide-section">
  <h1>Components</h1>
  <div class="anguide-topic">
    <h2>Topic</h2>
    <p>How is the script tag treated in and HTML template?</p>
    <p>...</p>
  </div>

  <div class="anguide-topic">
    <h2>Topic</h2>
    <p>How can we share styles among many components?</p>
    <p>What are the cons and pros of each method?</p>
    <p>...</p>
  </div>

  <div class="anguide-topic">
    <h2>Topic</h2>
    <p>How can we share styles among many components?</p>
    <p>What are the cons and pros of each method?</p>
    <p>...</p>
  </div>

  <div class="anguide-topic">
    <h2>Styles</h2>
    <h3>Special selectors</h3>
    <anguide-style-selectors></anguide-style-selectors>
  </div>
</section>