<p>
  Lets apply styles to this component <span class="ja-italic-font">{{ '<' }}ja-style-selectors></span>
</p>
<ul>
  <li>:host</li>
  <li>:host-context</li>
  <li>
    <ja-first-child><span>>>> and ::ng-deep</span></ja-first-child>
  </li>
</ul>

<div class="ja-code-container">
  <pre class="prettyprint linenums lang-html">
{{ '<' }}div class="ja-topic">
  ...
  {{ '<' }}ja-style-selectors>
    Lets apply styles to this component {{ '<' }}ja-style-selectors>
    {{ '<' }}ul>
      {{ '<' }}li>:host{{ '<' }}/li>
      {{ '<' }}li>:host-context{{ '<' }}/li>
      {{ '<' }}li>
        {{ '<' }}ja-first-child>{{ '<' }}span>>>> and ::ng-deep{{ '<' }}/span>{{ '<' }}/ja-first-child>
      {{ '<' }}/li>
    {{ '<' }}/ul>
  {{ '<' }}/ja-style-selectors>
{{ '<' }}/div>
  </pre>
</div>

<p>And now the style selctors are:</p>

<div class="ja-code-container">
  <pre class="prettyprint linenums lang-html">
:host {{ '{' }}
  display: block;
  border: 1px solid red;
}

:host-context(.ja-topic) li {{ '{' }}
  font-style: italic;
}

::ng-deep ja-first-child > span {{ '{' }}
  color: red;
  text-transform: uppercase;
}

ul li span {{ '{' }}
  color: black;
}
  </pre>
</div>