:host {
  display: block;
  border: 1px solid red;
}

:host-context(.ja-topic) li {
  font-style: italic;
}

::ng-deep ja-first-child > span {
  color: red;
  text-transform: uppercase;
}

ul li span {
  color: black;
}