<div class="ja-topic">
  <h2>Lifecycle Hooks</h2>

  <ja-question>
    <div class="question">
      What is a lifecycle hook in Angular?
    </div>
    <div class="answer">
      Angular lifecycle hooks are methods defined by some interfaces in the app so
      that the user implements specific code at key points in the lifecycle of the 
      application.
      Angular does not call every hook but only the ones that are defined in the code.
      The interfaces are optional but is a good practice to implement them to get the 
      benefits of strong typing in TypeScript.
    </div>
  </ja-question>

  <ja-question>
    <div class="question">
      Explain the main lifecycle hooks in Angular...
    </div>
    <div class="answer">
      <ul>
        <li>
          ngOnChanges
        </li>
        <li>
          ngOnInit
        </li>
        <li>
          ngDoCheck
        </li>
        <li>
          ngOnDestroy
        </li>
      </ul>
    </div>
  </ja-question>
</div>