<div class="ja-topic">
  <h2>Introduction</h2>

  <ja-message>
    Many concepts in this section were taken from: 
    <a href="https://rxjs-dev.firebaseapp.com/guide/overview" target="blank">RxJS Docs</a>
    , 
    <a href="http://reactivex.io/" target="blank">ReactiveX Docs</a>
    , and 
    <a href="https://en.wikipedia.org/wiki/Reactive_programming" target="blank">Wikipedia</a>
  </ja-message>

  <ja-question>
    <div class="question">
      What is an Observable?
    </div>
    <div class="answer">
      Observables are lazy Push collections of multiple values. 
      Observables provide support for passing messages between publishers and 
      subscribers in your application.
    </div>
  </ja-question>
  
  <ja-question>
    <div class="question">
      Hot or Cold Observables?
    </div>
    <div class="answer">
      <p class="ja-italic-font">When does an Observable begin emitting its sequence of items?</p>
      A “hot” Observable may begin emitting items as soon as it is created, 
      and so any observer who later subscribes to that Observable may start 
      observing the sequence somewhere in the middle. 
      A “cold” Observable, on the other hand, waits until an observer subscribes 
      to it before it begins to emit items, and so such an observer is guaranteed 
      to see the whole sequence from the beginning. 
      <strong>Observables are cold by default.</strong>
    </div>
  </ja-question>

  <ja-message type="info">
    Subscribing to an Observable is analogous to calling a Function.
  </ja-message>
  
  <ja-basic-observable-demo></ja-basic-observable-demo>

  <ja-question>
    <div class="question">
      Observer interface
    </div>
    <div class="answer">
        <p>
          A handler for receiving observable notifications implements the Observer interface. 
          It is an object that defines callback methods to handle the three types 
          of notifications that an observable can send: next, error (optional), and complete (optional).
        </p>
        <p>
          Alternatively, the subscribe() method can accept callback function 
          definitions in line, for next, error, and complete handlers.
        </p>
        <ja-observer-interface-demo></ja-observer-interface-demo>
    </div>
  </ja-question>


  <ja-question>
    <div class="question">
      Are Observables unicast or multicast?
    </div>
    <div class="answer">
        <p>
          Observers are by default unicast.
          A <span class="ja-italic-font">"unicast Observable" </span> 
          creates a new, independent execution for each 
          subscribed observer. When an observer subscribes, the observable wires up 
          an event handler and delivers values to that observer. When a second 
          observer subscribes, the observable then wires up a new event handler and 
          delivers values to that second observer in a separate execution.
        </p>
        <ja-unicast-observable-demo></ja-unicast-observable-demo>
        <p>
          A <span class="ja-italic-font">"multicast Observable" </span> 
          broadcasts to a list of multiple subscribers in a single execution. 
          With a multicasting observable, you don't register multiple listeners 
          on the document, but instead re-use the first listener and send values 
          out to each subscriber.
        </p>
        <p>In the following example we use the operator
          <span class="ja-italic-font">share</span> to multicast.</p>
        <ja-multicast-observable-demo></ja-multicast-observable-demo>
    </div>
  </ja-question>
</div>