@import './variables.scss';

/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Quicksand', sans-serif;

  a {
    text-decoration: none;
    color: $links;
    font-style: italic;
  }
}

button {
  padding: 8px 16px;
  background: $prettyprint_bg;
  border: none;
  color: white;
  margin: 0 8px;

  &:hover {
    cursor: pointer;
    background-color: $prettyprint_light_2;
  }
}

.ja-section {
  padding: 24px;
}

%italic-blue-font {
  font-style: italic;
  color: $light-blue;
}

.ja-italic-font {
  @extend %italic-blue-font;
}

.ja-code-container {
  width: 90%;
  margin: 16px auto;
  border: 1px solid $prettyprint_bg;
  border-radius: 8px;
  background-color: $prettyprint_bg;
  font-style: normal;

  .prettyprint {
    background: none;
  }

  li:nth-child(even) {
    background: $prettyprint_light_1!important;
  }
}


