/* You can add global styles to this file, and also import other style files */
$light-blue: rgb(82, 137, 219);
$prettyprint_bg: #402c66;
$prettyprint_light_line: #503b75;

body {
  font-family: 'Quicksand', sans-serif;
}

.ja-section {
  padding: 24px;
}

%italic-blue-font {
  font-style: italic;
  color: $light-blue;
}

.ja-italic-font {
  @extend %italic-blue-font;
}

.ja-code-container {
  width: 90%;
  margin: 16px auto;
  border: 1px solid $prettyprint_bg;
  border-radius: 8px;
  background-color: $prettyprint_bg;
  font-style: normal;

  .prettyprint {
    background: none;
  }

  li:nth-child(even) {
    background: $prettyprint_light_line!important;
  }
}

