$light-blue: rgb(82, 137, 219);
$prettyprint_bg: #402c66;
$prettyprint_light_1: #49366b;
$prettyprint_light_2: #56407c;
$info-msg-bg: rgb(218, 233, 255);
$info-msg-highlight: rgb(57, 107, 180);
$success-msg-bg: rgb(222, 252, 230);
$success-msg-highlight: rgb(78, 175, 104);
$danger-msg-bg: rgb(252, 220, 220);
$danger-msg-highlight: rgb(180, 81, 81);